{% extends "base.html" %}

{% block content %}
{% load widget_tweaks %}
<div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Yep Yeni Bir Hikaye</h3>
                </div>
                <div class="panel-body">
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                                {{ form.title|add_class:"form-control" }}
                                <span class="help-block">{{ form.title.errors }}</span>
                            </div>
                            <div class="form-group {% if form.content.errors %} has-error {% endif %}">
                                {{ form.content }}
                                <span class="help-block">{{ form.content.errors }}</span>
                            </div>
                            <div class="form-group {% if form.categories.errors %} has-error {% endif %}">
                                {{ form.categories|add_class:"form-control" }}
                                <span class="help-block">{{ form.categories.errors }}</span>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary btn-sm">Gönder <i class="fa fa-mail-forward"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}