<form method="get" action="/">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Arama</h3>
                    </div>
                    <div class="panel-body">
                        <input class="form-control" type="text" name="q" placeholder="Kimi Arıycan?" />
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary btn-block"><i class="fa fa-search"></i> Ararım Seni Her Yerde</button>
                    </div>
                </div>
            </form>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Coşmuş Hikayeler</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        {% for popular in popularBooks %}
                        <a href="{% url 'book_show' popular.id %}" class="list-group-item">
                            <span class="badge">{{ popular.views }} <i class="fa fa-eye"></i></span>
                            {{ popular.title }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>